<!DOCTYPE html>
<html>
  <head>
    <title>Distributiecentrum | Orders</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <script src="/js/index.js"></script>
  </head>
  <body onload="countProducts();">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/winkelwagen">Winkelwagen (<span id="amountOfItems"></span>)</a></li>
      <li><a class="active" href="/orders">Orders</a></li>
    </ul>
    <main>
      <h1>Orders</h1>
      <div id="orders"></div>
    </main>
  </body>
  <script>
    getOrders();
    getOrdersAgain();
  </script>
</html>
